<link rel="stylesheet" type="text/css" href="/styles/footer.css" />
<div class="footer">
	<footer>
		Note: This website is under construction!<br />Made with ❤️ by
		<a href="https://chaker.xyz" target="_blank">Jack C</a>
	</footer>
</div>
