<link rel="stylesheet" type="text/css" href="/static/styles/footer.css" />
<div class="footer">
	<div id="branding">
		<a href="/"
			><img
				class="footer-avatar"
				src="<%= avatar %>"
				alt="<%= username %>"
		/></a>
		<a href="/" class="footer-username"><%= username %></a>
	</div>
	<div id="credits">
		<a id="wrappingText" class="author"
			>Made with ❤️ by
			<a id="name" href="https://chaker.net" class="author">Jack C</a></a
		>
	</div>
</div>
