<link rel="stylesheet" type="text/css" href="/static/styles/header.css" />
<nav id="navbar">
	<a href="/"><img class="header-avatar" src="<%= avatar %>" /></a>
	<div id="links">
		<a id="nav-home-button" class="nav-item" href="/">Home</a>
		<a id="nav-commands-button" class="nav-item" href="/commands"
			>Commands</a
		>
		<a class="nav-item" href="/wiki">Wiki</a>
		<a class="nav-item" href="/status">Status</a>
	</div>
</nav>
