<link rel="stylesheet" type="text/css" href="/static/styles/header.css" />
<nav id="navbar">
	<a href="/"
		><img class="header-avatar" src="<%= avatar %>" alt="<%= username %>"
	/></a>
	<div id="links">
		<a id="nav-home-button" class="navbar-item" href="/">Home</a>
		<a id="nav-commands-button" class="navbar-item" href="/commands"
			>Commands</a
		>
		<a class="navbar-item" href="/wiki">Wiki</a>
		<a class="navbar-item" href="/status">Status</a>
	</div>
</nav>
