$body-bg: #222;
$body-color: white;
$primary-color: #e22525;

$theme-colors: (
	primary: $primary-color,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

code {
	color: $primary-color;
	background-color: rgb(22, 22, 22);
	border-radius: 2px;
	padding: 4px;
}

a {
	color: inherit;

	&:hover {
		color: $primary-color;
	}
}
