@import "./base.scss";

.container {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.category-link {
	color: inherit;
	text-decoration: none;
	margin-left: 0.3vw;

	&:hover {
		color: $primary-color;
		transition: 0.3s;
	}
}

.active {
	color: $primary-color;
}

#commands {
	display: flex;
	margin-top: 3vh;
	align-items: center;
}

.col-4 {
	margin-bottom: 1vh;
}

.card {
	background-color: $body-bg !important;
	border-color: #3d3d3d !important;
}

.list-group-item {
	background-color: $body-bg !important;
	border-color: #3d3d3d !important;
	color: $body-color !important;
}
