@import "./base.scss";

.container {
	margin-top: 3vh;
	margin-bottom: 30vh;
}

#category-buttons {
	background-color: $body-accent;
	border-radius: 4px;
	padding: 0.5vh;
}

.category-link {
	color: inherit;
	text-decoration: none;
	margin-left: 0.3vw;
	padding: 0.3vh;
	border-radius: 2px;

	&:hover {
		background-color: $lighter-accent;
		color: $primary-color;
		transition: 0.3s;
	}
}

.active {
	color: $primary-color;
}

#commands {
	display: flex;
	margin-top: 3vh;
	align-items: center;
}

.col-4 {
	margin-bottom: 1vh;
}

.list-group-item {
	background-color: $body-bg !important;
	border-color: $lighter-accent !important;
	color: $body-color !important;
}
