@import "./base.scss";

#navbar {
	display: flex;
	justify-content: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 5vw;
	padding-right: 5vw;
	align-items: center;
	background-color: $body-accent;
}

.header-avatar {
	width: 9vh;
	height: 9vh;
	border-radius: 50%;
	border-width: 2px;
	margin-right: 10px;
	cursor: pointer;
}

#links {
	margin-left: 50vw;
}

.navbar-item {
	padding: 0.4vw;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;

	&:hover {
		background-color: $lighter-accent;
		color: $primary-color;
		transition: 0.3s;
	}
}

.active {
	color: $primary-color;
}
