@import "./variables.scss";

#container {
	margin-top: 20px;
}

#inspirational {
	display: flex;
	text-align: right;
}

.fullbody {
	padding-top: 5vh;
	margin-left: 2vw;
	width: 25%;
	height: 25%;
	vertical-align: middle;
	user-select: none;
	//animation: go-in 0.5s ease-in;
}

#ins-info {
	padding-top: 20vh;
	margin-left: auto;
	padding-right: 8vw;
}

.bot-username {
	font-family: "Russo One", sans-serif;
	font-size: 7rem;
	color: $primary-color;
}

.bot-desc {
	width: 50vw;
}

.inspirational-button {
	margin-top: 10px;
}

#features {
	padding: 100px;
	padding-top: 13vw;
}

.feature-row {
	padding-left: 1vw;
	padding-right: 1vw;
	text-align: center;
}

.card {
	background-color: $body-bg !important;
	border-color: $lighter-accent !important;
	margin: 5px;
}

#bottom-section {
	padding-top: 10vh;
	text-align: center;
}

.title {
	font-family: "Russo One", sans-serif;
}

.stat-row {
	padding-top: 15vh;
}

.stat-col {
	text-align: center;
}

.stat-header {
	font-family: "Russo One", sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	vertical-align: middle;
}

@media screen and (max-width: 800px) {
	#inspirational {
		text-align: center !important;
	}

	#ins-info {
		padding-top: 20vh;
	}

	.bot-desc {
		width: 100%;
	}

	.fullbody {
		display: none;
	}
}

@keyframes go-in {
	from {
		transform: translateX(-40%) translateY(40%);
		opacity: 0;
	}
	to {
		transform: translateX(0%) translateY(0%);
		opacity: 1;
	}
}
