@import "./base.scss";

#container {
	margin-top: 20px;
}

#inspirational {
	text-align: center;
	padding-top: 27vh;
}

.bot-username {
	font-family: "Russo One", sans-serif;
	font-size: 70px;
	color: $primary-color;
}

.inspirational-button {
	margin-top: 10px;
}

#features {
	padding: 100px;
	padding-top: 13vw;
}

.feature-row {
	padding-left: 1vw;
	padding-right: 1vw;
	text-align: center;
}

.card {
	background-color: $body-bg !important;
	border-color: $lighter-accent !important;
}

#bottom-section {
	padding-top: 10vh;
	text-align: center;
}

#bottom-title {
	font-family: "Russo One", sans-serif;
}
