@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

$body-bg: #222;
$body-color: white;
:root {
	--bs-font-sans-serif: "Roboto", sans-serif;
}
@import "../../node_modules/bootstrap/scss/bootstrap";

html,
body {
	font: 1rem/1.5 var(--bs-font-sans-serif);
}

#container {
	margin-top: 100px;
	text-align: center;
}

.avatar {
	border-radius: 50%;
	border-color: white;
	border-width: 2x;
	border-style: solid;
}
