@import "./base.scss";

.container {
	text-align: center;
	margin-top: 10vh;
	margin-bottom: 60vh;
}

#captcha-container {
	align-self: center;
	align-items: center;
}

.g-recaptcha {
	padding-top: 10px;
	display: inline-block;
}

.bigtitle {
	font-family: "Russo One", sans-serif;
}
