@import "./base.scss";

.container-fluid {
	margin-top: 2vh;
}

#sidebarMenu {
	padding: 0 !important;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

#content-container {
	margin-top: 2vh;
	height: 90vh;
	overflow-y: auto !important;
}

::marker {
	display: none;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 0;
	/* rtl:raw:
  right: 0;
  */
	bottom: 0;
	/* rtl:remove */
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
	background-color: $body-bg;

	.nav-link {
		padding: 0.4vw;
		border-radius: 4px;
		text-decoration: none;
		cursor: pointer;
		margin-left: 10px;
		color: inherit;

		&:hover {
			background-color: $lighter-accent;
			color: $primary-color;
			transition: 0.3s;
		}
	}
}

.wiki-button {
	&:hover {
		cursor: pointer;
	}
}

.sidebar-sticky {
	position: relative;
	background-color: $body-bg;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
	background-color: $body-bg;
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 5rem;
	}
}
