<% if (verified == true) { %>
    Verification Completed
    </br>
    You can now close this window
<% } else if (error) { %>
    <%= error %>
    </br>
    Please try again
<% } else { %>
    <head>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <script>
        function submitForm() {
            var form = document.getElementById("captcha-container");
            form.submit();
        }
    </script>

    <form id="captcha-container" action="" method="POST">
        <div
            name="g-recaptcha-response"
            class="g-recaptcha"
            data-sitekey="<%= siteKey %>"
            data-callback="submitForm"
        ></div>
        <input type="hidden" name="state" value="<%= state %>" />
        <input type="hidden" name="id" value="<%= id %>" />
    </form>
<% } %>
