<head>
    <meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Verify your account</title>
		<link rel="stylesheet" type="text/css" href="/styles/verify.css" />
</head>

<% if (verified == true) { %>
    <h1>You can now close this window</h1>
<% } else if (error) { %>
    <h1><%= error %></h1>
    </br>
    <h2>Please try again</h2>
<% } else { %>
    <head>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <script>
        function submitForm() {
            var form = document.getElementById("captcha-container");
            form.submit();
        }
    </script>
    <h1>Please complete the captcha to continue</h1>
    <form id="captcha-container" action="" method="POST">
        <div
            name="g-recaptcha-response"
            class="g-recaptcha"
            data-sitekey="<%= siteKey %>"
            data-callback="submitForm"
            data-theme="dark"
        ></div>
        <input type="hidden" name="state" value="<%= state %>" />
        <input type="hidden" name="id" value="<%= id %>" />
    </form>
<% } %>
