<head>
  <title>Wiki | <%= username %></title>
  <link rel="stylesheet" type="text/css" href="/styles/wiki.css" />
</head>
<body>
  <%- include("../components/header.ejs") %>
  <script>
    document.getElementById("navbar-wiki-link").classList.add("active");
  </script>
  <h1>Wiki Coming Soon!</h1>
</body>
