<h1>Contributing</h1>
<%= username %> is currently closed-source, and will stay that way as long as I
can afford to keep running it, and have the time to develop it.
</br>If you would like to suggest a change or addition, please join the Support Discord (click the "Get Support" button
<a href="/">here</a>), and send your idea into the #suggestions channel. Thanks!
