<h1>Supporting the Project</h1>

Currently, <%= username %>'s hosting costs $15 a month (for enough memory, cpu
to make scaling easy)
</br> A Donation would be greatly appreciated (it really helps 😊) </br>
</br>If you would like to donate, I currently accept Cash App through
<a href="https://cash.app/$jacanyy">https://cash.app/$jacanyy</a> </br>
</br>If you would like to donate though a different method, please contact me on Discord at <a href="https://discord.com/users/739969527957422202" >jacany#0001</a>
