<h1>FAQ</h1>

</br>
<h2>I got an error that says "An Error Occurred", what can I do about this?</h2>
These kinds of errors happen when there is a bug in the bot's programming. It's
best to join the Support Server (blue button <a href="/">here</a>), and open a
ticket with the Error information. Identifying why the error occurred will go from
there.

</br> </br>
<h2>I don't like certain commands on the bot, can I disable them?</h2>
Yes! The <a href="/commands/Configuration/enable">Enable</a> and <a href="/commands/Configuration/disable">Disable</a> commands can help you do this, you can even disable entire categories!

</br> </br>
<h2>Did you make all of this?</h2>
Yes! Everything except the Command Handler which is a heavily modified version of <a href="https://github.com/discord-akairo/discord-akairo">Akairo</a>, otherwise everything from the commands, to this very website, and almost every other aspect of the bot was written by me!

</br> </br>
<h2>Can I see the Code?</h2>
No, currently <%= username %> is closed-source with no plans on becoming public.