<h1><%= username %> Wiki</h1>
Documentation on the <%= username %> Discord Bot.
</br> </br>

<h3>About</h3>
<%= username %> is a Multipurpose bot created by
<a href="https://chaker.net">Jack C (jacany#0001)</a> to serve
as a multipurpose bot primarily for server management.

</br> </br>
<h3>Why <%= username %>?</h3>
Simple, the features.
<ul>
    <li><a href="Features/Verification" >User Verification</a>, with Alt Identification and Prevention.</li>
    <li><a href="Features/Ticketing" >Ticketing System</a>, for managing support tickets with ease.</li>
    <li><a href="Features/Starboard" >Starboard</a>, for a member provided archive of funny/useful messages.</li>
    <li><a href="Features/Logging" >Logging</a>, for keeping track of events that happen in your server.</li>
    <li><a href="Features/Moderation" >Moderation</a>, for muting, purging messages, banning, and kicking members.</li>
    <li>A Music System that can support thousands of guilds at once, and can play songs/playlists from YouTube, Spotify, Soundcloud, and more.</li>
    <i>and many more features to come.</i>
</ul>

</br> </br>

