<html>
	<body>
		<h1>Aina Stats</h1>
		<h2>All information is current, and is fetched directly from the bot!</h2>
		<h4>Total Shards: <%= totalShards %></h4>
		<h4>Total Servers: <%= totalServers %></h4>
		<footer>this page is only temporary, don't worry</footer>
	</body>
</html>
