<h1>Logging</h1>
The Logging System has many events that will be sent into one channel, and is
very easy to set up.

</br> </br>
<h3>Events</h3>
<ul>
    <li>Message Delete</li>
    <li>Message Edit</li>
    <li>Member Join, with invite code used and the person who invited them.</li>
    <li>Member Leave</li>
    <li>Member Kick</li>
    <li>Member Banned</li>
    <li>Member Unbanned</li>
    <li>Successful Verification</li>
    <li>Failed Verification</li>
</ul>


<h3>Setup</h3>
All setup is done with the <code><a  href="/commands/Configuration/logging"><%= prefix %>logging</a></code> command, and it's subcommands.

<ol>
    <li>Create a channel to send logs into, and make sure you set the permissions you want. This is <b>HIGHLY RECOMMENDED</b> because <%= username %> will log message deletions, and edits in <i>every</i> channel she can see.</li>
    <li>Set the channel to send logs into with <code><%= prefix %>logging channel &lt;value&gt;</code>, again it is <b>HIGHLY RECOMMENDED</b> to make this accessible to people that can see <i>all</i> channels.</li>
    <li>Enable Logging with <code><%= prefix %>logging enable</code></li>
</ol>

</br> A quick overview of all subcommands below. </br> </br>
<h5>Subcommands</h5>
<ul>
    <li><code>enable</code> Enables Logging</li>
    <li><code>disable</code> Disables Logging</li>
    <li><code>channel &lt;value&gt;</code> Change the channel to send logs to</li>
</ul>