<h1>Ticketing</h1>
The Ticketing system allows you to handle support tickets in individual channels, with quick and easy management.

It allows tickets to be grouped into categories, and automatically have a role added to the ticket for quick support.

</br> </br>
<h3>Setup</h3>
Ticketing can be setup with the <code
	><a  href="/commands/Configuration/ticketing"
		><%= prefix %>ticketing</a
	></code
> command, and it's subcommands.

<ol>
    <li>(Optional) Create a role to be automatically granted access to tickets, then run <code><%= prefix %>ticketing role &lt;role&gt;</code> to set it.</li>
    <li>(Optional) Create a special category to have ticket channels automatically placed in, then run <code><%= prefix %>ticketing category &lt;id&gt;</code> to set it.</li>
    <li>Run <code><%= prefix %>ticketing enable</code> to enable the Ticket system.</li>
</ol>

</br> A quick overview of all subcommands below. </br> </br>
<h5>Subcommands</h5>
<ul>
	<li><code>enable</code> Enables Ticketing</li>
	<li><code>disable</code> Disables Ticketing</li>
	<li><code>role &lt;role&gt;</code> Role to be automatically added to Tickets</li>
	<li><code>category &lt;value&gt;</code> Category to list Tickets under</li>
</ul>

<h3>Preview</h3>
</br> </br>
<img src="/static/img/ticketing/usage.gif" alt="Ticketing Usage" height="500px" />