<h1 class="header">Voice Lobbies</h1>
Voice Lobbies allow members to create their own private voice channels that are completely configurable, and are deleted when they leave it.
<hr>

<h3 class="header">Setup</h3>

All setup is done with the
<code
	><a href="/commands/Configuration#voicelobbies" 
		><%= prefix %>voicelobbies</a
	></code
>
command, and it's subcommands.

<ol>
	<li>Create a special lobby voice channel under it's own category. Give it a name, and set it in the bot using <code><%= prefix %>voicelobbies channel &lt;channel&gt;</code>. Ex: <code><%= prefix %>voicelobbies channel "Create Private VC"</code>, <code><%= prefix %>voicelobbies channel 884953532661383238</code></li>
</ol>

</br> A quick overview of all subcommands below. </br> </br>
<h5 class="header">Subcommands</h5>
<ul>
	<li><code>enable</code> Enable Voice Lobbies</li>
	<li><code>disable</code> Disables Voice Lobbies</li>
	<li><code>channel &lt;channel&gt;</code> Set the Lobby Channel</li>
</ul>

<h3 class="header">Preview</h3>
<img src="/static/img/voicelobbies/usage.gif" alt="Voice Lobbies Usage" height="300px" />